<!DOCTYPE html>
<html lang="{{extra.lang}}">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>API2HTML Demo</title>
</head>
<body>
	<div class="container">
		<header class="blog-header py-3">
			<div class="row flex-nowrap justify-content-between align-items-center">
				<div class="col-4 pt-1">
					<a class="text-muted" href="#">Subscribe</a>
				</div>
				<div class="col-4 text-center">
					<h1>API2HTML</h1>
				</div>
				<div class="col-4 d-flex justify-content-end align-items-center">
					<a class="text-muted" href="#">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
					</a>
					<a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
				</div>
			</div>
		</header>
		<div class="nav-scroller py-1 mb-2">
			<nav class="nav d-flex justify-content-between">
				<a class="p-2" href="/">Home</a>
				<a class="p-2 text-muted" href="#">World</a>
				<a class="p-2 text-muted" href="#">Technology</a>
				<a class="p-2 text-muted" href="#">Design</a>
				<a class="p-2 text-muted" href="#">Culture</a>
				<a class="p-2 text-muted" href="#">Business</a>
				<a class="p-2 text-muted" href="#">Politics</a>
				<a class="p-2 text-muted" href="#">Opinion</a>
				<a class="p-2 text-muted" href="#">Science</a>
				<a class="p-2 text-muted" href="#">Health</a>
				<a class="p-2 text-muted" href="#">Style</a>
				<a class="p-2 text-muted" href="#">Travel</a>
			</nav>
		</div>

		<main role="main">

			{{{content}}}

		</main>
		<footer>
			<p class="float-right"><a href="#">Back to top</a></p>
			<p>The layout of this page is under <code>main_layout.mustache</code></p>
			<p>{{extra.copyright}} · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
		</footer>
	</div>
</body>
</html>
