<!DOCTYPE html>
<html lang="{{Extra.lang}}">
<head>
    <meta charset="utf-8">
	<title>{{ Extra.metadata_title }}</title>
</head>

<body>
	<h1>Debug example</h1>
	<p>This is a simple page that uses a single page and loads data from an external API so you can see how the debug template changes.</p>

	<ul>
	{{ #Array }}
		<li><a href="/post/{{ id }}">{{ title }}</a></li>
	{{ /Array }}
	</ul>

	{{ #Data }}
		<h2>{{ title }}</h2>
		<p>{{ body }}</p>

	{{ /Data }}



   {{ >api2html/debug }}
</body>