<div>
	<h1>API2HTML Debugger</h1>
    <small>page generated at {{ Helper.Now }}</small>
    <h3>Response context</h3>
    <div>{{ String }}</div>
    <h2>Request context params</h2>
    <div>
        <ul>{{ #Context.params }}
        <li><pre>{{ . }}</pre></li>{{ /Context.params }}
        </ul>
    </div>
    <h2>Request context keys</h2>
    <div>
        <ul>{{ #Context.keys }}
        <li><pre>{{ . }}</pre></li>{{ /Context.keys }}
        </ul>
    </div>
    <h2>Request params</h2>
    <div>
        <ul>{{ #Params }}
        <li><pre>{{ . }}</pre></li>{{ /Params }}
        </ul>
    </div>
    <h2>Extra data</h2>
    <div>
        <ul>{{ #Extra }}
        <li><pre>{{ . }}</pre></li>{{ /Extra }}
        </ul>
    </div>
    <h2>Backend data</h2>
    <h3>Full response (as object)</h3>
    <div>
        <ul>{{ #Data }}
        <li><pre>{{ . }}</pre></li>{{ /Data }}
        </ul>
    </div>
    <h3>Full response (as array)</h3>
    <div>
        <ul>{{ #Array }}
        <li><pre>{{ . }}</pre></li>{{ /Array }}
        </ul>
    </div>
</div>