{{=<% %>=}}<div class="row">
	<div class="col-md-6">
		<h2 class="blog-post-title">{{ Data.title }}</h2>
		<p class="blog-post-meta">January 1, 2018 by employee number <a href="#">{{ Data.userId }}</a></p>

		<p>{{ Data.body }}</p>
		<hr/>
		<p><a href="/">Back</a></p>
	</div>
	<div class="col-md-6">
		<h3>Where the data comes from?</h3>
		<p>The response from the API is:
			<a href="https://jsonplaceholder.typicode.com/posts/{{ Data.id }}">
				https://jsonplaceholder.typicode.com/posts/{{ Data.id }}
			</a>
		</p>
		<pre>
{
  "userId": {{ Data.userId }},
  "id": {{ Data.id }},
  "title": "{{ Data.title }}",
  "body": "{{ Data.body }}"
}
</pre>

	</div>
</div>
